.w3-container:after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
}

#more {
    display: flex;
    margin: 45px;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}
.inmore {
    justify-content: center;
    /* 16/9 ratio */
    border-style: none;
}

a {text-decoration: none;}

.special {
    width: 45%;
    border-radius: 20px;
    box-shadow: 3px 3px 0px black;
}

.special:hover {
    box-shadow: -3px -3px 0px black;
}

@media screen and (max-width: 1200px) {
    #more {
        flex-direction: column;
    }
    .eve1h {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .eve1h {
        font-size: 18px;
    }
    .special {
        width: 100%;
    }
}

/* Create a Parallax Effect */

.new_para {
    background-image: url('../gallery/punjabits/explorebg.jpg');
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}